* {
  margin: 0;
  padding: 0;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-family: "Jacquard 12", system-ui;
  font-weight: 500;
  font-style: normal;
}

header {
  display: flex;
  justify-content: center;
}
header .headerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #8c00ff;
  box-shadow: 0px 0px 20px 1px rgb(152, 36, 165);
}
header .headerContent img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.StatusInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.StatusInfo .contentStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 15px;
}
.StatusInfo .contentStatus img {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

main .MoneyClicker {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
main .MoneyClicker img {
  width: 240px;
  height: 240px;
  pointer-events: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
main .progressBarBlock {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
main .progressBarBlock .ContentProgress {
  display: flex;
  flex-direction: column;
}
main .progressBarBlock .ContentProgress .progress-bar {
  width: 250px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main .progressBarBlock .ContentProgress .progress-bar .progress {
  text-align: right;
  height: 100%;
  width: 0;
  background-color: #76c7c0;
  transition: width 0.5s ease-in-out;
  border-radius: 15px 0 0 15px;
}
main .progressBarBlock .ContentProgress .progress-info {
  display: flex;
  justify-content: center;
}

.click-number {
  position: absolute;
  font-size: 20px;
  animation: floatUp 2s forwards;
  z-index: 9999;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
footer .footerContent {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border: 1px solid #b827c9;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 1px #681e70;
}
footer .footerContent .footerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  cursor: pointer;
}
footer .footerContent .RefiralsBlock {
  border-right: 2px solid #555555;
  height: 30px;
}
footer .footerContent .TaskBlock {
  border-right: 2px solid #555555;
  height: 30px;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}/*# sourceMappingURL=style.css.map */
