* {
    box-sizing: border-box;
}
.menu{
    background-color: rgb(97, 29, 86);
    position: fixed;
    height: 100vh;
    border-radius: 10px;
    padding: 22px;
    font-weight: bold;
    font-family: sans-serif;
}
.menu a{
    color: ghostwhite;
    text-decoration: none;
    display:block;
    padding: 10px;
    padding-left: 10px;
}
.menu h3{
    color:ghostwhite;
}
.showcase, .services, .designers , .packages , .contact{
    margin-left: 300px;
}
 h2{
    color:rgb(97, 37, 87);
    font-family: sans-serif;
    font-size: 36px;
}
.showcase h1{
    font-family: sans-serif;
    font-size: 40px;
}
hr{
    width: 90%;
    border: 5px solid rgb(97, 37, 87);
    border-radius: 10px;
    padding-right: 50px;
    margin-left: 0px;
}
.showcase img{
    width: 40%;
    border-radius: 10px;
    margin: 5px;
}
.member{
    display: inline-block;
    width: 30%;
    margin: 8px;
}
.member img{
    width: 100%;
    border-radius: 10px;
}
.text2{
    color:  grey;
}
.text{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    padding: 4px 15px 5px;
}
.tarif{
    list-style: none;
    display: inline-block;
    width: 45%;
    padding: 0px;
    text-align: center;
    background-color: rgb(219, 218, 218);
    border-radius: 10px;
    margin: 0px 10px;
}
.tarif li{
    padding: 10px 0px;
    background-color: rgb(219, 218, 218);
    border-bottom: 1px solid rgb(134, 134, 134);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tarif .basic{
    
    padding: 25px;border-radius: 10px;
    background-color: indigo;
    color: lavender;
    font-weight: bold;
    font-size: 20px;
}
.rub{
    font-weight: bold;
    font-size: 18 px;
}
.tarif li a{
    text-decoration: none;
    color: indigo;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    display: inline-block;
}
.tarif.orange .basic {
    background-color: rgb(255, 0, 0);
}
.tarif.orange li a {
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}
.contact form{
    width: 96%;
}
.contact form input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 5px;
}
.cnopka{
    background-color: rgb(103, 11, 189);
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px 20px;
}
.o1{
    text-align: right;
    margin: 50px 0px;
}


